apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: cpd-cli-case-download
  namespace: {{ .Release.Namespace }}
spec:
  params:
  - default: {{ .Values.default_olm_utils_image }}
    description: olm-utils images
    name: OLM_UTILS_IMAGE
    type: string
  - default: {{ .Values.cpd_version }}
    description: cloud-pak for data version
    name: VERSION
    type: string
  - default: watsonx_orchestrate
    description: 'cloud-pak components to install (wml,watsonx_ai,watsonx_governance,watsonx_data,wca_ansible ...)https://www.ibm.com/docs/en/software-hub/5.3.x?topic=information-determining-which-components-install'
    name: COMPONENTS
    type: string
  {{ if eq .Values.default_cpd_install "watsonx" }}
  - default: watsonx-operators
  {{ else }}
  - default: cpd-operators
  {{ end }}
    description: cloud-pak operators namspace
    name: PROJECT_CPD_INST_OPERATORS
    type: string
  - default: 'true'
    description: 'Set [true] to download CASE as OCI, [false] to get CASE from Github.'
    name: CASE_FROM_OCI
    type: string
  tasks:
  - name: cpd-cli-case-download
    serviceAccountName: default
    params:
    - name: OLM_UTILS_IMAGE
      value: '$(params.OLM_UTILS_IMAGE):$(params.VERSION)'
    - name: OLM_CMD
      value: |
        case-download --components=cpd_platform --release=$(params.VERSION) --from_oci=$(params.CASE_FROM_OCI) --operator_ns=$(params.PROJECT_CPD_INST_OPERATORS) --cluster_resources=true
    taskRef:
      kind: Task
      name: olm-utils
    timeout: 3h0m0s